.navbar {
    display: flex;
    justify-content:space-between;
    align-items: center;
    cursor: pointer;
    padding: 1rem 2rem;
    background-color: #040404;
    color: orange;
  }
  
  /* .navbarLogo a {
    font-size: 1.5rem;
    font-weight: bold;
    color: white;
    text-decoration: none;
  } */
  .uploads{
    display: flex;
    text-transform: uppercase;
    background-color: rgb(11, 11, 11);
    border-radius: 10px;
    border: solid 1px black;
    padding-left: 12px;
    padding-right: 12px;
    padding-top: 5px;
    padding-bottom: 5px;
    cursor: pointer;
  }
  .uploads img{
    width:12px;
    color:#ffa500;
    height:18px;
  }
  .uploads a{
    font-size: small;
    font-weight: 600;
  }

 .get{
  text-decoration: none;
  color: white;
 }
 
  .get:hover{
   color: orange;
  }
  .createaccount{
    text-transform: lowercase;
  }
  .createaccount:hover{
    color:#ffa500
  }
  .signin{
    text-transform: lowercase;
  }
  .signin:hover{
   color: #ffa500;
  }
 .note{
  display: flex;
  width:30px;
  cursor: pointer;
 }
  
  .navbarLinks {
    display: flex;
    text-transform: uppercase;
     gap: 1.5rem;
  }
  
  .navbarLinks a {
    color: white;
    gap:3rem;
    text-decoration: none;
  }
  
  /* .navbarSearch input {
    padding: 0.4rem;
    color:white;
    width:180px;
    background-color: black;
    padding-left: 1rem;
    border-radius: 5px;
    border: solid 1px;
  } */
.menuButton {
    display: none;
    background: none;
    border: none;
    color: white;
    font-size: 1.5rem;
    cursor: pointer;
  }
  
  @media (max-width: 780px) {
    .navbarLinks {
      display: none;
      flex-direction: column;
      position: absolute;
      top: 60px;
      left: 0;
      width: 100%;
      background-color: #333;
    }
  
    .navbarLinks.open {
      display: flex;
    }
  
    .menuButton {
      display: block;
    }
  }
  .discover{
    position: relative;
    display: block;
    width: 100px;
}
.discover link{
  width: 120px;

}

.dropdown{
    position: absolute;
    width:120px;
    margin-left: 10px;
    top: 15px;
    gap:3px;
    right: 0px;
    background-color: rgb(23, 22, 22);
    display: none;
}
.dropdown h1{
  font-weight: 200;
  display: flex;
margin-left: 10px;
  font-size: 11px;
}
.dropdown :hover{
 color: #ffa500;
 transform: scale(1);
}
.discover:hover .dropdown{
  display: block;
  top:19px;
}